/PopupWindow/nbproject/private/
/PopupWindow/build/
/Exercise_Weban/nbproject/private/
/Exercise_Weban/build/
/AbstractandInterface/nbproject/private/
/AbstractandInterface/build/
/TRAINING/build/
/TRAINING/nbproject/private/
/Excersice/nbproject/private/
/Excersice/build/